viewenhancement {
  &.wide {
    display: inline-block;
    width: 12em;

    input {
      width: 100%;

      &:focus {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(227,138,20,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(227,138,20,1);
        box-shadow: 0px 0px 5px 0px rgba(227,138,20,1);
      }

      &.view-cloze-incorrect {
        border-color: #D00;
        border-width: 2px;
      }
    }
  }

  &.view-cloze-correct {
    color: white;
    background-color: #0A0;
  }

  &.view-colorize-particleverbs-de-style {
    font-weight: bold;

    &[data-pos="PTKVZ"] {
      color: #F00;
    }

    &[data-pos="VVFIN"] {
      color: #00F;
    }
  }

  &.view-colorize-agreement-de-style {
    font-weight: bold;

    &[data-morph-case="Nom"] {
      color: #F00;
    }

    &[data-morph-case="Gen"] {
      color: #F0F;
    }

    &[data-morph-case="Dat"] {
      color: #00F;
    }

    &[data-morph-case="Acc"] {
      color: #0F0;
    }
  }

  &.view-colorize-prepositions-en-style {
    font-weight: bold;
    color: #B70;
  }

  &.view-colorize-prepositions-de-style {
    font-weight: bold;
    color: #B70;
  }

  &.view-colorize-determiners-en-style {
    font-weight: bold;
    color: #00F;
  }

  &.view-colorize-determiners-de-style {
    font-weight: bold;
    &[data-morph-case="Nom"] {
      color: #F00;
    }

    &[data-morph-case="Gen"] {
      color: #F0F;
    }

    &[data-morph-case="Dat"] {
      color: #00F;
    }

    &[data-morph-case="Acc"] {
      color: #0F0;
    }
  }

  &.view-colorize-articles-en-style {
    font-weight: bold;
    &[data-original-text="a"] {
      color: #B70;
    }
    &[data-original-text="the"] {
      color: #7B0;
    }
  }

  &.view-click {
    cursor: pointer;

    &-incorrect {
      background-color: #D00;
    }

    &-correct {
      background-color: #0D0;
    }
  }
}
