#wertiview-color-legend {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #d6d8db;
    border-bottom: solid 2px;
    border-left: solid 2px;
    display: inline-block;
    padding: 10px;
    z-index: 1000000000;
}

.color-legend-title {
    margin: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    border-bottom: solid 1px;
    font-weight: bold;
}

.color-legend-item {
    padding: 5px;
    font-size: 1.5em;
}
