<div id="view-assistive-reading-word-container">
  <div id="view-assistive-reading-word"></div>
</div>
<div id="view-assistive-reading-translation">
  <div id="view-assistive-reading-translation-title" class="view-assistive-reading-title">Translation</div>
</div>
<div id="view-assistive-reading-description">
  <div id="view-assistive-reading-description-title" class="view-assistive-reading-title">Word Description</div>
</div>
<div id="view-assistive-reading-word-list">
  <div id="view-assistive-reading-word-list-title" class="view-assistive-reading-title">Vocabulary List</div>
  <button id="view-assistive-reading-word-list-download">⤓</button>
</div>
